body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    background-color: #f0f8ff;
    background-image: url('tu-imagen.jpg');
    background-size: cover;
    background-position: center;
}

.sidebar {
    width: 250px;
    background: linear-gradient(135deg, #00aaff, #0056b3);
    color: white;
    padding: 20px;
    position: fixed;
    height: 100%;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    transition: width 0.3s;
}

.sidebar h2 {
    text-align: center;
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
    transition: transform 0.3s;
}

.sidebar ul li:hover {
    transform: scale(1.05);
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s, padding 0.3s;
    border-radius: 5px;
}

.sidebar ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.content {
    background-image: url(fondo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 300px;
    padding: 20px;
    color: #333;
    width: calc(100% - 250px);
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #0056b3;
    font-size: 2em;
    margin-bottom: 20px;
}

p {
    font-size: 1.1em;
    line-height: 1.5;
}

h1 {
    color: white;
    font-size: 3em;
    margin-bottom: 20px;
    padding: 10px 20px;
    background: linear-gradient(135deg, #00aaff, #0056b3);
    border-radius: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
}

p {
    color: #333;
    font-size: 1.2em;
    line-height: 1.6;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: auto;
}

.logo {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.logo img {
    max-width: 150px;
    height: auto;
}
